@model WebApi.Models.Employee_Gen
<div class="border p-3 mt-4">
    <div class="row pd-2">
        <h2 class="text-primary">Details</h2>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FristName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FristName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.HiredDate)
        </dd>
    </dl>


    <div class="border p-3 mt-4">
        <div class="row pd-2">
            <h3 class="text-primary">Tasks</h3>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tasks[0].TaskName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tasks[0].StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tasks[0].Deadline)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Tasks) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary" style="width:150px"><i class="bi bi-backspace"></i>&nbsp; Back to List</a>
    </div>
</div>

