@model IEnumerable<WebApi.Models.Employee_Gen>

@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; New Employee
            </a>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.HiredDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.HiredDate)
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                <a asp-action="Details" asp-route-id="@item.Employee.Id" class="btn btn-info mx-2"><i class="bi bi-ticket-detailed"></i>&nbsp; Details</a>
                <a asp-action="Edit" asp-route-id="@item.Employee.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Employee.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>&nbsp; Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
